.departments{
    text-align: center;
    padding: 30px;
    position: relative;
}

.departments__input{
    position: absolute;
    top: 10%;
    right: 10%;
}

.departments h3{
    font-weight: 300;
    font-size: 32px;
    color: #212121;
    margin-bottom: 1%;
}

.departments hr{
    width: 40px;
    height: 3px;
    border: none;
    border-radius: 10px;
}
.departments_characters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}